@page
@model EcomProject.Data.PictureUpload.IndexModel
@{
}


<form enctype="multipart/form-data" method="post">

    <label asp-for="Image"></label>
    <input asp-for="Image" type="file" />

    <button type="submit"> Upload </button>

</form>