@model IEnumerable<EcomProject.Models.Product>
    @{
        ViewData["Title"] = "Index";
        Layout = "_Layout";
    }
    
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" type="text/css" href="~/css/style.css" />
        <link rel="stylesheet" type="text/css" href="~/vendor/owl-slider.css" />
        <link rel="stylesheet" type="text/css" href="~/vendor/settings.css" />
        <link rel="shortcut icon" href="~/images/favicon.png" />
        <link rel="stylesheet" type="text/css" href="~/vendor/lightgallery.css" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,500,700,300' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="~/js/jquery-1.11.1.min.js"></script>
        <title>Catalog</title>
    </head>
    <body>
        <div class="awe-page-loading">
            <div class="awe-loading-wrapper">
                <div class="awe-loading-icon">
                    <img src="~/images/seattle.png" alt="images">
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>


        <!-- End pushmenu -->
        <div class="wrappage">
            <header id="header" class="header-v1">
                <div class="header-top">
                    <div class="container">
                        <div class="box">
                            <p class="icon-menu-mobile"><i class="fa fa-bars"></i></p>
                            <div class="logo">
                                <a href="~/home/catalogue" title="Uno">
                                    <img src="~/images/seattle.png" alt="images">
                                </a>
                            </div>
                            <div class="logo-mobile"><a href="#" title="SeattlePour"><img src="~/images/seattle.png" alt="SeattlePour-Logo"></a></div>


                            <!-- SIDE BAR
                    <div class="box-right">
                        <div class="cart hover-menu">
                            <p class="icon-cart" title="Add to cart">
                                <i class="icon"></i>
                                <span class="cart-count">2</span>
                            </p>
                            <div class="cart-list list-menu">
                                <ul class="list">
                                    CART ITEMS----------
                                <li>
                                    <a href="#" title="" class="cart-product-image"><img src="~/images/products/1.jpg" alt="Product"></a>
                                    <div class="text">
                                        <p class="product-name">Union Bed</p>
                                        <p class="product-price"><span class="price-old">$700.00</span><span class="price">$350.00</span></p>
                                        <p class="qty">QTY:01</p>
                                    </div>
                                    <a class="close" href="#" title="close"><i class="fa fa-times-circle"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="" class="cart-product-image"><img src="~/images/products/1.jpg" alt="Product"></a>
                                    <div class="text">
                                        <p class="product-name">Union Bed</p>
                                        <p class="product-price"><span class="price-old">$700.00</span><span class="price">$350.00</span></p>
                                        <p class="qty">QTY:01</p>
                                    </div>
                                    <a class="close" href="#" title="close"><i class="fa fa-times-circle"></i></a>
                                </li>
                                End Cart Items------------
                                </ul>
                                <p class="total"><span class="left">Total:</span> <span class="right">$1121.98</span></p>
                                <div class="bottom">
                                    <a class="link-v1" href="#" title="viewcart">View Cart</a>
                                    <a class="link-v1 rt" href="#" title="checkout">Check out</a>
                                </div>
                            </div>
                        </div>
                        <div class="settings hover-menu">
                            <a href="#" title="settings">
                                <span class="icons-setting"></span>
                            </a>
                            <ul class="submenu list-menu align-left">
                                <li>
                                    <div class="container-fluid">

                                        <ul class="infor">
                                            <li><span class="fa fa-unlock-alt"></span><a id="openLogin" href="#" title="login">Login / Register</a></li>
                                            <li><span class="fa fa-user"></span><a href="#" title="My Account">My Account</a></li>
                                            <li><span class="fa fa-heart"></span><a href="#" title="My Wishlist">My Wishlist</a></li>
                                            <li><span class="fa fa-check-circle"></span><a href="#" title="Checkout">Checkout</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="search dropdown" data-toggle="modal" data-target=".bs-example-modal-lg">
                            <i class="icon"></i>
                        </div>
                    </div>
                    -->



                        </div>
                    </div>
                    <!-- End container -->
                </div>
                <!-- End header-top -->
            </header><!-- /header -->
            <div class="container">
                <div class="banner-header banner-lbook3">
                    <img src="~/images/banner-seattle.jpg" alt="Banner-header">
     
                </div>
            </div>

            <div class="container">
                <div class="wrap-breadcrumb">
                    <div class="ordering">
                        <div class="float-left">
                            <span class="col active"></span>
                            <span class="list"></span>

                        </div>
                    </div>
                </div>
            </div>
            <!-- End wrap-breadcrumb -->

            <div class="container">
                <div class="products ver2 grid_full hover-shadow furniture">

                    @foreach (var product in Model)
                    {
                        <div class="item-inner">
                            <div class="product">
                                <div class="product-images">
                                    <a href="/product/details/@product.ID" title="product-images">
                                        <img class="primary_image" src="~/images/products/featured/1.jpg" alt="" />
                                    </a>
       

                                </div>
                                <a href="#" title="Bouble Fabric Blazer"><p class="product-title">@product.Name</p></a>
                                <p class="product-price">$@product.Price</p>
                                <p class="description">@product.Description</p>

                            </div>
                            <!-- End product -->
                        </div>
                    }
                    <!-- End item -->
                </div>
                <!-- End product-tab-content products -->
            </div>
            <!-- end tab product all -->
            <div class="container">
                <div class="newsletter-bottom center">
                    <div class="items">
                        <img class="img-responsive" src="~/images/FR.jpg" alt="Newsllter">


                    </div>
                </div>
            </div>
            <br /><br /><br />
            <!-- End newsletter -->
            <footer id="footer" class="footer-v3 align-left">
                <div class="footer-inner">
                    <div class="container container-ver2">
                        <div class="row">
                            <div class="col-md-5 col-sm-6">
                                <a class="box space-30" href="#" title="Logo">
                                    <img src="~/images/seattle.png" alt="Logo">
                                </a>
                                <p class="box space-30">We are a team of creative talents, local family business, that works with epoxy pour skill and high quality materials.</p>
                                <ul class="info-footer">
                                    <li><img src="~/images/footerv3-icon1.png" alt="images">123 King Street, Seattle, WA</li>
                                    <li><img src="~/images/footerv3-icon2.png" alt="images">+206 206 2061</li>
                                    <li><img src="~/images/footerv3-icon3.png" alt="images"><a href="mailto:theseattlepour.com" title="mail">theseattlepour@gmail.com</a></li>
                                </ul>
                                <ul class="social">
                                    <li><a href="#" title="social"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" title="social"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" title="social"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#" title="social"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#" title="social"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <h3 class="title-footer">OPENING TIME</h3>
                                <ul class="list-footer border">
                                    <li>Monday - Friday : 8 AM - 6 PM</li>
                                    <li>Saturday : 9 AM - 6 PM</li>
                                    <li>Sunday : Close</li>
                                    <li>We Work All The Holidays</li>
                                </ul>
                            </div>

                        </div>
                        <div class="box bottom">
                            <p class="float-left">Copyright &copy;2020 The Seattle Pour - All Rights Reserved.</p>
                            <a class="float-right" href="#" title="images"><img class="img-responsive" src="~/images/footer-pay.png" alt="images"></a>
                        </div>
                        <!-- End box -->
                    </div>
                    <!-- End container -->
                </div>
                <!-- End footer-inner -->
            </footer>
        </div><!-- End wrappage -->
        <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="~/js/engo-plugins.js"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
        <script type="text/javascript" src="~/js/map-icons.js"></script>
        <script type="text/javascript" src="~/js/lightgallery.js"></script>
        <script type="text/javascript" src="~/js/lg-thumbnail.js"></script>
        <script type="text/javascript" src="~/js/jquery.mousewheel.min.js"></script>
        <script type="text/javascript" src="~/js/lg-autoplay.js"></script>
        <script type="text/javascript" src="~/js/store.js"></script>
    </body>
    
    </html>
    
    